{:paths ["src"]

 :deps    {re-frame/re-frame {:mvn/version "1.2.0"}
           reagent/reagent {:mvn/version "1.1.0"}
           arttuka/reagent-material-ui {:mvn/version  "4.11.3-2"}
           re-frame-datatable/re-frame-datatable {:mvn/version "0.6.0"}}
 :aliases {:dev      {:extra-deps {thheller/shadow-cljs          {:mvn/version "2.15.3"}
                                   refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
                                   cider/cider-nrepl             {:mvn/version "0.26.0"}}}
           ;; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "0.16.2"}}
                      :main-opts  ["-m" "antq.core"]}}}
