{:dependencies [[re-frame/re-frame             "1.2.0"]
                [day8.re-frame/test            "0.1.5"]
                [reagent/reagent               "1.1.0"]
                [arttuka/reagent-material-ui   "5.0.0-beta.2-0"]
                [refactor-nrepl/refactor-nrepl "3.0.0-pr301"]
                [cider/cider-nrepl             "0.26.0"]
                [tick                          "0.5.0-RC1"]]
 :source-paths ["src" "test"]
 :nrepl        {:port  3333
                :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}}
 :builds       {:app  {:target           :browser
                       :output-dir       "public/js/compiled"
                       :asset-path       "/js/compiled"
                       :modules          {:main {:init-fn app.frontend.core/init}}
                       :compiler-options {:infer-externs      :auto
                                          :output-feature-set :es5}
                       :js-options       {:anon-fn-naming-policy :unmapped}
                       :devtools         {:http-root "public"
                                          :http-port 3000}}
                :test {:target    :node-test
                       :test-dir  "test-out/"
                       :output-to "test-out/node-tests.js"
                       :ns-regexp "-test$"
                       :autorun   true}}}
